<div class="border border-1">
    <br>
    <h1>{{postagem.titulo}}</h1>
    <hr>
    <small>Categoria: {{postagem.data}}</small>
    <hr>
    <div class="">
        {{postagem.conteudo}}
    </div>
    <br>
</div>
